--find-links https://download.pytorch.org/whl/torch_stable.html
python-dotenv
torch==1.12.1+cu113
accelerate
transformers
nvidia-ml-py3
ftfy
gradio==3.4.1
git+https://github.com/huggingface/diffusers.git
git+https://github.com/facebookresearch/xformers.git@main#egg=xformers