--find-links https://download.pytorch.org/whl/torch_stable.html
python-dotenv
torch==1.12.1+cu113
git+https://github.com/huggingface/diffusers.git@30f6f44
transformers
nvidia-ml-py3
ftfy
gradio==3.4.1
https://github.com/apolinario/xformers/releases/download/0.0.3/xformers-0.0.14.dev0-cp38-cp38-linux_x86_64.whl
